.verde {
    background-color: green;
}

.casi-verde {
    background-color:rgb(140, 243, 140);
}

.casi-rojo {
    background-color:rgb(219, 115, 115);
}

.rojo {
    background-color:red;
}

.amarillo {
    background-color:yellow;
}
